*{
    margin:0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Welcome Page */
.btn {
    background-color: #9e1a2c;
    color:white;
}

.info{
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-desc{
    font-size: 20px;
}

.goalimg{
    height:400px;
    border-radius: 10px;
}

.goals-container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 80px 100px 145px;
}

.goalhead{
    font-size: 75px;
}

.goaldesc{
    font-size: 25px;
}

.goalList{
    font-size: 20px;
}

.budgetTable{
    font-size: 25px;
}

.spend-container{
    width: 648px;
}

.saving-container{
    width: 648px;
}

/* Dashboard page */

.logo{
    display: flex;
    justify-content: center;
}

.accounts-container{
    background-color: #3c3c3c;
    flex:3;
    height: 700px;
    display: flex;
    justify-content: center;
}

.gi-container{
    flex:5;
    margin-left: 50px;
}

.budget-container{
    height:350px;
    margin: 50px 0px;
    background-color: #3c3c3c;
}

.goals{
    background-color: #9e1a2c;
    height:325px;
}

.investments{
    background-color: #9e1a2c;
    height:325px;
    margin-top: 50px;
}

.dash-h1{
    margin-top: 15px;
}

.addbtn{
    height:35px;
    margin-top: 22px;
}

.accounts{
    width: 399.75px;
}

.accountbtn{
    margin-left: 5px;
}

.account-h1{
    /* margin-left: 215px; */
    margin-left: 125px;
}

.goal-h1{
    padding-left: 345px;
}

.goalbtn{
    padding-left: 200px;
}

.investbtn{
    padding-left: 225px;
}

.invest-h1{
    padding-left: 260px;
}

.budget-h1{
    padding-left: 420px;
}

.budgetbtn{
    padding-left: 400px;
}